<div id="<%= dom_id user %>">
  
  <p>
    <strong>Avatar:</strong>
    <%= image_tag user.avatar.variant(:thumb) %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>images:</strong>
    <% user.images.each do |image| %>
      <% if image.variable? %>
        <%= link_to image_tag(image.variant(:thumb)), image %>
      <% elsif image.previewable? %>  
        <%= link_to image_tag(image.preview(resize: "400x400")), rails_blob_path(image, disposition: :attachment) %>
      <% else %>
        <%= video_tag url_for(image), controls: true%>
      <% end %>
    <% end %>
  </p>

</div>
